.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner__icon {
  animation: spinner-rotate 1s linear infinite;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
