/* Slider styles for Swiper */
.slider__container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: left;
}

.slider__swiper {
  width: 100%;
}

.slider__slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__slide img {
  display: block;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.slider__loading,
.slider__error,
.slider__empty {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.2rem;
}
